@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body:before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgb(0, 150, 136);
  background: linear-gradient(
    180deg,
    rgba(0, 150, 136, 1) 0%,
    rgba(0, 150, 136, 1) 15%,
    rgba(215, 219, 214, 1) 15%,
    rgba(215, 219, 214, 1) 130%
  );
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.scrollContainer {
  @apply [&::-webkit-scrollbar]:hidden [-ms-overflow-style:'none'] [scrollbar-width:'none'];
}

.userBubble {
  @apply before:content-[''] before:absolute before:w-[15px] before:h-[15px] before:left-[-10px] before:bottom-[0px] before:rounded-3xl before:bg-white  before:z-10 after:content-[''] after:absolute after:w-[15px] after:h-[15px] after:left-[-15px] after:bottom-[4px] after:rounded-3xl after:bg-[#E5DCD4] after:z-10;
}

.friendBubble {
  @apply before:content-[''] before:absolute before:w-[15px] before:h-[15px] before:right-[-10px] before:bottom-[0px] before:rounded-3xl before:bg-[#dcf8c6] before:z-10 after:content-[''] after:absolute after:w-[15px] after:h-[15px] after:right-[-15px] after:bottom-[4px] after:rounded-3xl after:bg-[#E5DCD4] after:z-10;
}
@layer components {
}
